@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

.title {
    font-family: "montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border:0;
    padding:0;
    font-family: "roboto", sans-serif;
}

.fs {
  height: 85vh;
  margin-top: 47px;
}

nav {
  width: 100vw;
}

nav ul.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100vw; 
}

nav ul.nav-items p.brand {
    float: left;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul.nav-items li.nav-item {
  float: left;
}

nav ul.nav-items li.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

nav ul.nav-items li.nav-item a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.jumbotron {
  text-align: center;
  padding-top: 150px;
  background-color: #91bcff;
}

.cards {
  width: inherit;
  margin-top: 100px;
  padding-bottom: 45px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: box-shadow 0.3s;
  width: 15vw;
  height: 15vw;
  border-radius: 5px;
  display: inline-block;
  margin: 0 7vw 0 7vw;
  padding-top: 15px;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}

.card > h4 {
  text-align: center;
}

.card p {
  height: 10vh;
}